* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  font-family: "Nunito Sans", sans-serif;
}

p, strong, h1, h2, h3, h4, h5, span, li, th, td {
  color: var(--main-text)
}


label {
  color: var(--main-text);
}

a {
  color: var(--main-text);
}

a:hover {
  color: var(--light-green);
}

body::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(26, 24, 47, 0.15);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  width: 8px;
  background: var(--scroll-bar-color);
  border-radius: 5px;
}

li {
  list-style: none;
}


input:-webkit-autofill {
  -webkit-text-fill-color: var(--main-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--main-bg) inset;
}
input:-webkit-autofill {
  caret-color: white;
}
