* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: var(--main-bg);
  font-family: "Nunito Sans", sans-serif;
}

p {
  color: var(--main-text)
}

label {
  color: var(--main-text);
}

a {
  color: var(--main-text);
}

a:hover {
  color: var(--light-green);
}
