input {
    font-family: "Nunito Sans", sans-serif;
    color: var(--main-text);
    background-color: transparent;
    border: none;
    outline: 1px solid var(--main-line);
    font-size: 20px;
    padding: 10px;
}

input:focus {
    transition: .2s;
    outline: 1px solid var(--card-color);
}