:root {
    --main-bg: #191919;
    --main-text: #e4e4e4;
    --main-line: #0f0f0f;

    --card-color: #2d2d2d;
    --scroll-bar-color: #2d2d2d;
    --button-color: #626262;

    --black-color: #000000;

    --light-green: #c9ffa2;
    --light-red: #f0967d;
    --light-orange: #efc575;

    --red-error: #d93f3f;
    --green-check: #518f4c;
}